.perfil-container {
    background-color: rgba(0, 0, 0, 0);
    justify-items: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
}

.overlay-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.perfil-overlay {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 0;
    width: 500%;
    cursor: default;
}

.inicio-session{
    text-align: center;
    display: inline-block;
    background: #572297;
    width: 100%;
    height: 100%;
    margin: 0;
}

.inicio-session h2{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.form-group input[type="email"] {
    width: 270px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #D5C6DC;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5%;
    margin-right: 200px;
    font-weight: 500;
}

.form-group input[type="password"] {
    width: 270px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #D5C6DC;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5%;
    font-weight: 500;
}

.form-group p{
    color: #000000;
    text-align: left;
    padding-bottom: 0%;
    margin: 0;
}

.principal{
    padding: 10%;
    margin: 0;
}

.btn{
    justify-content: center;
    background-color: #572297;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.500);
    margin-top: 4px;
}

.btn:hover{
    background-color: #3D0B60;
}

.pie{
    text-align: center;
    display: inline-block;
    background: #572297;
    width: 100px;
    height: 100px;
    margin: 0;
    margin-top: 5%;
}

.forgot-password{
    margin-top: -20px;
}

.forgot-password a{
    text-decoration: none;
    color: #572297;
    font-size: 13px;
    margin-top: 50px;
}

.register {
    margin-top: 5%;
    text-align: center;
    background-color: #572297;
    cursor: pointer;
}

.register a{
    text-decoration: none;
    background-color: #572297;
    padding: 0px;
    margin-top: 0px;
    font-size: 15px;
    position: relative;
    top: -5px;
}