.city-overlay {
    background-color: #572297;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    position:absolute ;
    z-index: 9999;
    cursor: default;
  }
  
  .city-container {
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 10px;
  }
  
  .city-row {
    
    justify-content: space-between;
    margin-bottom: 0px;
  }
  
  .city-item {
    background-color: #572297;
    padding: 10px;
    border-radius: 5px;
    width: 48%;
    text-align: center;
    border: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }

  .horizontal-line{
    height: 2px; 
    background-color: #ffffff;
    margin: 0 0;
  
  }

  .overlay-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 900; 
}

.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.city-overlay {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 0 solid #fff;   
}

.city-item:hover {
  cursor: pointer;
}