.metodo-pago-container {
    display: flex;
    justify-content: space-between;
  }
  
  .tarjeta-credito {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #D5C6DC;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    top: 270px;
    left: 930px;
    width: 300px;
    max-width: 100000px;
    height: 150px;
    transition: transform 0.3s ease-in-out;
  }

  .tarjeta-debito {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #D5C6DC;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    top: 270px;
    left: 500px;
    width: 300px;
    max-width: 100000px;
    height: 150px;
    transition: transform 0.3s ease-in-out;
  }
  
  .logo-pago {
    margin-right: 10px;
  }
  
  .tarjeta-pago p {
    margin: 0;
    font-weight: bold;
  }
  
  .logo-debito {
    height: 70px;
    position: absolute;
    left: 200px;
  }
  
  .logo-credito {
    height: 40px;
    position: absolute;
    left: 105px;
  }

  .label-debito, .label-credito {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.689);
    position: absolute;
    left: 30px;
    width: 115px;
    color: #1B003A;
  }

  .tarjeta-debito:hover, .tarjeta-credito:hover {
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.427);
    background-color: #9A6BD2;
    color: white;
  }

  .tarjeta-debito:active, .tarjeta-credito:active {
    color: white;
    transition: transform 0.001s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.427);
    background-color: #9A6BD2;
    color: white;
  }
  
  .activo {
    background-color: #9A6BD2;
    color: #ffffff;
    transform: scale(1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.427);
  }

  .continuar-bttn-mtp {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    left: 825px;
    top: 500px;
    background-color: #572297;
    border-radius: 14px;
    border-color: transparent;
    color: white;
    height: 40px;
    width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.524);
    cursor: pointer;
}

  .continuar-bttn-mtp:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }