.pelicula-card {
    display: flex;
    flex-direction: column;
    background: white;
}

.pelicula-imagen-container {
    align-self: center;
    width: 95%; /* Ancho completo del contenedor de la tarjeta */
    height: 430px; /* Altura establecida para la imagen */
    border-radius: 8px; /* Bordes redondeados aplicados aquí */
    overflow: hidden; /* Asegúrate de que la imagen no sobresalga de los bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.800);
    transition: transform 0.2s ease-in-out; /* Transición suave para el efecto de hover */
    background: #D5C6DC;
}

.pelicula-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Las imágenes cubren el espacio disponible */
    border-radius: 8px; /* Asegúrate de que los bordes redondeados también se apliquen a la imagen */
}

.pelicula-imagen-container:hover {
    transform: scale(1.02); /* Solo la imagen se agranda al pasar el mouse */
}

.pelicula-info {
    padding: 15px 10px 15px;
    flex-grow: 1;
}

.pelicula-titulo {
    font-family: 'Poppins', sans-serif; /* Especifica Poppins para los títulos */
    font-size: 20px; /* Tamaño del texto para el título */
    font-weight: 700; /* Poppins en negrita */
    color: #333;
    padding: 0px 0px 5px;
    margin: 0;
}

.pelicula-genero {
    font-family: 'Lato', sans-serif; /* Especifica Lato para los géneros */
    font-size: 16px; /* Tamaño del texto para el género */
    font-weight: 300; /* Lato en light */
    color: #666;
    padding: 0px 0px 5px;
    margin: 0;
}